In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix

In [21]:
df = pd.read_json('response_data.json')

In [3]:
df.head()

,feedback_id,employee_name,department,feedback,sentiment
0,1,John Doe,Marketing,John consistently meets his deadlines and prod...,positive
1,2,Jane Smith,Sales,Jane has shown significant improvement in her ...,positive
2,3,David Johnson,Engineering,David needs to pay more attention to detail in...,negative
3,4,Emily Brown,Finance,Emily consistently delivers accurate financial...,positive
4,5,Michael Wilson,Human Resources,Michael has excellent interpersonal skills and...,positive

In [22]:
sentiment_count = df.groupby(['sentiment'])['sentiment'].count()
sentiment_count = pd.DataFrame({'sentiment':sentiment_count.index, 'count':sentiment_count.values})
sentiment_count

  sentiment  count
0     mixed    333
1  negative    333
2  positive    334

In [5]:
tokenized_review=df['feedback'].apply(lambda x: x.split())
tokenized_review.head(5)

0    [John, consistently, meets, his, deadlines, an...
1    [Jane, has, shown, significant, improvement, i...
2    [David, needs, to, pay, more, attention, to, d...
3    [Emily, consistently, delivers, accurate, fina...
4    [Michael, has, excellent, interpersonal, skill...
Name: feedback, dtype: object

In [6]:
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize, token_pattern=None)
text_counts = cv.fit_transform(df['feedback'])

In [7]:
X = text_counts #feature
y = df['sentiment'] #target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
model = MultinomialNB()
model.fit(X_train, y_train)

predicted = model.predict(X_test)
accuracy_score = metrics.accuracy_score(predicted, y_test)

print('MultinominalNB model accuracy is',str('{:04.2f}'.format(accuracy_score*100))+'%')
print('------------------------------------------------')
# print('Confusion Matrix:')
# print(pd.DataFrame(confusion_matrix(y_test, predicted)))
# print('------------------------------------------------')
# print('Classification Report:')
# print(classification_report(y_test, predicted))
print(predicted)

MultinominalNB model accuracy is 82.00%
------------------------------------------------
['negative' 'negative' 'negative' 'positive' 'mixed' 'mixed' 'mixed'
 'mixed' 'positive' 'positive' 'mixed' 'negative' 'negative' 'positive'
 'positive' 'negative' 'negative' 'negative' 'negative' 'positive'
 'negative' 'mixed' 'positive' 'positive' 'mixed' 'positive' 'positive'
 'mixed' 'positive' 'mixed' 'mixed' 'mixed' 'negative' 'negative' 'mixed'
 'positive' 'mixed' 'mixed' 'negative' 'negative' 'positive' 'negative'
 'positive' 'mixed' 'negative' 'mixed' 'negative' 'positive' 'negative'
 'positive']

In [9]:
filename = "model.pkl"
with open(filename, 'wb') as file:
    pickle.dump(model, file)